<footer class="bg-danger">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="box">
          <h3>Plans</h3>
          <ul>
            <li>
              <a class="nav-link" href="#">Yearly</a>
            </li>
            <li>
              <a class="nav-link" href="#">Quarterly</a>
            </li>
            <li>
              <a class="nav-link" href="#">Monthly</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="box">
          <h3>About The Ligth On</h3>
          <ul>
            <li><a class="nav-link" href="#">About us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="box">
          <h3>Contacto</h3>
          <a class="nav-link" href="#">Contact</a>
        </div>
      </div>
    </div>
  </div>
</footer>
