<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <p class="list-group-item list-group-item-action bg-warning">Geners</p>
      <button class="list-group-item list-group-item-action active"  data-bs-toggle="list" >Animation</button>
      <button class="list-group-item list-group-item-action"  data-bs-toggle="list" >Classic</button>
      <button class="list-group-item list-group-item-action" data-bs-toggle="list"  >Comedy</button>
      <button class="list-group-item list-group-item-action"  data-bs-toggle="list" >Drama</button>
      <button class="list-group-item list-group-item-action"  data-bs-toggle="list" >Horror</button>
      <button class="list-group-item list-group-item-action" data-bs-toggle="list"  >Family</button>
      <button class="list-group-item list-group-item-action"  data-bs-toggle="list" >Mystery</button>
      <button class="list-group-item list-group-item-action"  data-bs-toggle="list" >Western</button>
    </div>
  </div>
</div>
