<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" >
    <div class="carousel-item active"  data-bs-interval="2000">
      <img  id="carrusel" src="https://image.tmdb.org/t/p/w1280/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg" class="d-block w-100 "  alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img id="carrusel"  src="https://image.tmdb.org/t/p/w1280/rfnmMYuZ6EKOBvQLp2wqP21v7sI.jpg" class="d-block w-100 "  alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img id="carrusel" src="https://image.tmdb.org/t/p/w1280/8sMmAmN2x7mBiNKEX2o0aOTozEB.jpg" class="d-block w-100"  alt="...">
    </div>
  </div>
</div>
